.container
{
    border: 3px solid lightblue;
}
#header
{
    background-color: wheat;
}
body{
    background-color:antiquewhite;
}
.card
{
    background-color: lightblue;
}
textarea{
    width: 100%;
}